/* styles/globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e8f5e9;
  color: #2e7d32;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  margin-top: 10px;
  font-size: 2rem;
}

button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #388e3c;
}

.quiz-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question {
  text-align: center;
  font-size: 1.5rem;
}

button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .quiz-container {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
  }

  button {
    width: 100%;
    padding: 8px;
  }

  .question {
    font-size: 1.2rem;
  }
}
